{
	"network-config": {
		"org1": {
			"name": "peerOrg1",
			"mspid": "Org1MSP",
			{{range $index,$dir := lsdir "/hosts/peer/"}}{{$sid := printf "/hosts/peer/%s/sid" $dir}}{{$ip := printf "/hosts/peer/%s/ip" $dir}}
			"peer{{sub (getv $sid) 1}}":{
				"requests": "grpcs://{{getv $ip}}:7051",
				"events": "grpcs://{{getv $ip}}:7053",
				"server-hostname": "peer{{sub (getv $sid) 1}}.org1.example.com",
				"tls_cacerts": "/root/gopath/src/github.com/hyperledger/fabric/examples/e2e_cli/crypto-config/peerOrganizations/org1.example.com/peers/peer{{sub (getv $sid) 1}}.org1.example.com/tls/ca.crt"
			},
			{{end}}
			"admin": {
				"key": "/root/gopath/src/github.com/hyperledger/fabric/examples/e2e_cli/crypto-config/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp/keystore",
				"cert": "/root/gopath/src/github.com/hyperledger/fabric/examples/e2e_cli/crypto-config/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp/signcerts"
			}
		}
	},
	"host": "localhost",
	"port": {{getv "/env/client.server.port"}},
	"channel": "mychannel",
	"keyValueStore": "/tmp/fabric-client-kvs",
	"eventWaitTime": "30000",
	"pg": {
		"host": "{{getv "/env/client.database.host"}}",
		"port": {{getv "/env/client.database.port"}},
		"database": "{{getv "/env/client.database.name"}}",
		"username": "{{getv "/env/client.database.user"}}",
		"passwd": "{{getv "/env/client.database.pwd"}}"
	},
	"license": "Apache-2.0"
}